[2015-04-29 12:50] jonsterling opened #1 "fix ABT impl to preserve names"
either a bug in the original CMU implementation, or a bug which I introduced—but named variables are blown away in the `into`/`out` view-runaround. These should be preserved; probably it means embedding name hints somehow in the locally-nameless implementation.

[2015-04-29 12:59] jonsterling opened #2 "use a better data structure for subgoals"
the kinds of computations I'm needing to do on subgoals are probably not well-suited to lists. perhaps concatenable deques might be a better option.

[2015-04-29 13:02] jonsterling opened #3 "implement THENL tactic"
`t THENL t*` applies `t` to the goal, and then applies the tactics in `t*` pointwise to the subgoals generated by `t`.

[2015-04-29 13:11] jonsterling opened #4 "generic ABT parser"
Probably a pain, but conceptually pretty simple. Basically, just parameterize the parsing judgement by a symbol table.

[2015-04-29 13:19] jonsterling opened #5 "concrete syntax for proof scripts"
Just going to put some ideas down... Anyway, the interesting thing about proof scripts is that, unlike in derivations, the binding of variables is kind of "non-local". To give an example, a derivation of `Implies(A;A) true` might be `IMPLIES_INTRO(x. x)`, but a proof script which computes that derivation would be something more like `let val x = fresh () in ImpliesIntro(x) THEN Hypothesis(x) end`;

[2015-04-29 15:55] jonsterling opened #6 "abstract out the refiner"
Right now the refiner is defined simultaneously with the syntax of evidence, and the "inference rules". Instead, it should be functorized such that the meaning of the basic refining tactics like `THEN, ORELSE, THENL`, etc. is independent of the syntax of the theory & the specific rules we intend to admit.

[2015-04-30 00:38] jonsterling commented on #1
Implemented in 561cd7a46a605056fce1117f63a899d8c9118edc

[2015-04-30 00:38] #1 closed

[2015-04-30 02:21] #6 closed

[2015-05-02 03:54] ghost commented on #2
Out of curiosity, what kind of properties do you need the structures to have? Zippers and/or finger trees might be worth exploring. For shoggoth I was using defunctionalized difference lists with zippers for the type lens stuff since it was fairly low effort and still better than just lists. For something more ephemeral, the [chunked sequences](http://deepsea.inria.fr/chunkedseq/) stuff is worth a

[2015-05-02 21:55] jonsterling commented on #3
done in https://github.com/jonsterling/JonPRL/commit/7f819762bbfbef5d648a4ec80d5418625f030857

[2015-05-02 21:55] #3 closed

[2015-05-04 02:35] jonsterling opened #7 "THEN tacticals are wrong"
The code is a little tricky, so it is no surprise I screwed it up.

[2015-05-04 03:22] #7 closed

[2015-05-04 16:04] jonsterling commented on #2
Interesting! I'm going to hold off on addressing this until/if I start experiencing performance problems. I have already replaced core tactics with a cleaner, probably more efficient implementation, but I anticipate that I may want to revisit the data structures & algorithms at a later time.

[2015-05-04 16:12] jonsterling opened #8 "lemmas / library"
In order to actually use this, we'll need some kind of a state that says what lemmas are available to be used.

[2015-05-04 16:15] jonsterling opened #9 "incremental, server interface"
It would be nice to interact with the refiner interactively (i.e. not just through the SML/NJ top-level).

I think the first step is to get a very simple top-level interface running, like Coq's `coqtop` or Epigram 2's `cochon`. This could serve as the basis for a more advanced (perhaps Emacs-based) interface.

[2015-05-04 17:12] jonsterling opened #10 "investigate parallel refinement"
Rod Moten did his dissertation in the PRL group about implementing a parallel refiner for Nuprl. It seems like the implementation was pretty straightforward.

Certain stronger restrictions than he applied, I think, are in order to avoid non-deterministic refinement. For instance, parallel `THEN, THENL` make sense, but a parallel `ORELSE` seems like a recipe for frustration, even if tactics are req

[2015-05-05 05:33] jonsterling opened #11 "Rethink separation of canonical equality from non-canonical equality"
1. In the spirit of the meaning explanations, I'd toyed with having separate equalities for canonical and non-canonical forms; the evidence of non-canonical equality comes from evaluating the subterms of the non-canonical equality goal to canonical form, and checking canonical equality.

2. Recall that the PRL methodology is to dispense with the standard type theoretic judgements and replace them

[2015-05-09 23:12] #11 closed

[2015-05-10 06:22] jonsterling opened #12 "hack for extensible opcode signatures"
probably it will become pretty painful to deal with multiple opcode signatures. We can still permit the separate definition of fragments of the full/open-ended signature by letting the type of operators be `exn`, and then in each module giving a partial `arity, eq, to_string` implementation, which can then be composed together.

[2015-05-10 06:28] jonsterling commented on #12
By the way, there's no real benefit to having sorts be separated statically, at least not in this context. It will be nice to have a uniform way to mix terms from one signature with terms of another; for instance, I may wish to include an extract term as a subterm of an evidence term. Currently, in order to do that it has to be a parameter (not an argument) of the evidence operator, which is fine

[2015-05-10 06:57] #8 closed

[2015-05-10 16:46] jonsterling commented on #12
For now, I decided it would be simplest just to put all opcodes in one module. But to have a single opcode type for all the operators used anywhere; this way derivations, terms & even (in the future) tactic scripts may be interleaved.

[2015-05-10 16:47] #12 closed

[2015-05-11 03:30] jonsterling commented on #4
resolved by #13

[2015-05-11 03:30] #4 closed

[2015-05-11 15:18] jonsterling opened #14 "[abt-lib] parsed free variables should be shared"
Currently, a phrase like `operator(x;x)` would parse into two distinct free `x`-variables. Instead, the same one should be shared.

The way to do this, probably, is via a benign effect:

1. Change `SymbolTable` to be a nullary functor, so that is generated anew for every call to `parse_abt`
2. Add a reference cell which holds a dictionary of free variables.
3. Then, if a variable name is not bound

[2015-05-11 16:07] jonsterling commented on #14
Looks like this can't quite be done in this way because of the phase distinction on modules. (i.e. you can't just instantiate a functor in a let binding)... I'll do it slightly differently.

[2015-05-11 16:16] #14 closed

[2015-05-12 08:36] david-christiansen opened #15 "README with instructions for building"
It would be nice if there were a 1-paragraph README explaining compatibility with SML implementations and with basic instructions for building and running JonPRL - the interaction model is a bit different that most systems, and it's hard to know where to start.

[2015-05-12 14:38] jonsterling commented on #15
Yes, you are definitely right; was discussing this with Darin yesterday as well... I have so far held off on writing instructions for setup & installation since it was all in a bit of flux, but now is probably the time.

Re "running JonPRL", the interaction model is indeed a bit different, though I would prefer say that the interaction model is simply not present. All there is right now is the abi

[2015-05-13 01:09] jonsterling commented on #15
I have added a README with rudimentary build instructions.

[2015-05-13 01:58] jonsterling commented on #15
I also added discussion of the historical context of JonPRL, Nuprl, and made some clarifying remarks about "extensional type theory", "computational type theory" and the "proof refinement logic" (and included my usual clarification of "equality reflection").

[2015-05-13 01:58] #15 closed

[2015-05-13 05:09] david-christiansen commented on #15
This is great! Thanks! I look forward to playing with it when I get a bit of time.

It might be nice to introduce your syntax earlier in the README, e.g. "`H >>> J` is a sequent".

[2015-05-14 16:46] jonsterling opened #17 "Howe's computational equivalence"
Howe's computational equivalence is an extremely well-behaved relation between untyped terms; it relies on non-canonical operators having a certain extensionality property. (So, before you introduce a non-canonical form into the theory, make sure you convince yourself that it is extensional.). Computational equivalence is defined in terms of a simulation relation `M <~ N`: `M ~ N` means `M <~ N` a

[2015-05-14 16:55] jonsterling opened #18 "Universes"
Right now, there is a single "universe" `univ`, which does not have a type. We'll need to introduce the predicative hierarchy of universes, and probably along with it, polymorphism.

Universes are gnarly, and I don't think I really want to use JonPRL as a place to experiment with novel treatments. (Unless someone has a convincing proposal.) So my plan is to simply copy the approach which they used

[2015-05-14 18:09] jonsterling commented on #9
It probably makes sense to consider the state at a particular time as a zipper. Tactics which are entered at the top-level are applied to the subgoal in focus, and you may zip through the tree using meta-commands.

When the tree has no more holes in it, it is then directly translatable into a single tactic script, where branches are translated using `THENL`. The interaction at the top-level, then,

[2015-05-15 04:58] jonsterling opened #20 "remaining elimination rules"
- [x] pi elim
- [x] sigma elim

[2015-05-15 05:14] jonsterling opened #21 "context display order"
contexts are displayed in the order the variables were generated, rather than in the order of dependency. Because the presentation is essentially nominal, this is not a technical problem, but a display problem (i.e. things will work properly, but it will look strange to users).

[2015-05-16 04:08] jonsterling opened #22 "Add "conversions" / rewrites"
This is probably the right thing to do rather than trying to have a one-size-fits-all `whnf` tactic, etc.

These would be essentially like (trusted) tactics, except that they don't have access to the context. In MetaPRL, they did some interesting stuff like compiling these down to little machines. Not sure I want to bother with looking into that right now, but it would be pretty cool in the future

[2015-05-17 15:54] #18 closed

[2015-05-17 15:54] #21 closed

[2015-05-17 17:00] #20 closed

[2015-05-17 19:06] jonsterling opened #23 "intersection types"
It would be good to add a type for the intersection of a family of types; this is essentially an "implicit"/irrelevant version of `Pi`.

This would be good to have, so that we can get the intended computational content of a theorem in the extract. For instance, when formulated using `Pi`, the extract to the theorem of choice being with `λ(_.λ(_.λ(_.λ.....`; with an intersection type, there would b

[2015-05-27 22:56] #22 closed

[2015-05-28 01:17] jonsterling commented on #23
resolved by #24

[2015-05-28 01:17] #23 closed

[2015-05-28 01:18] jonsterling opened #27 "factor out general-purpose tacticals, conversionals into a library"

[2015-05-28 05:09] jonsterling opened #28 "dependent record types"
there are a number of options here. It seems preferable, given the setting, to start from dependent intersection and build dependent records from there; but I only am OK with that route if we can make it usable (i.e. not like in Nuprl, where they don't have very good tactics for working with them).

I want my dependent records to be as usable as Agda's; if it is possible to have this at the same t

[2015-05-28 05:10] jonsterling opened #29 ""atoms""
a primitive type of names is needed, à la Nuprl, in order to serve as the labels for records (and constructors of sums & trees, when I shall get around to them).

[2015-05-30 05:15] #27 closed

[2015-05-31 02:46] jonsterling commented on #5
Done

[2015-05-31 02:46] #5 closed

[2015-05-31 03:08] jonsterling commented on #9
The new `DEVELOPMENT` machinery (which replaces the old `LIBRARY`) should be the right basis on which to build this.

[2015-05-31 14:59] jonsterling opened #34 "update readme w/ practical instructions"
Move the CTT tract to some folder, and put an example development an instructions to run it through the refiner in the README.

[2015-05-31 16:52] jonsterling commented on #29
This seems non-trivial, as the "naïve" definition is not really acceptable; one of the nice aspects of atoms done right is that the names are not permitted to matter (there is essentially a permutation theorem over the judgements of CTT+atoms). I need to look at Allen's work on the semantics for atoms in CTT; I think Bob also has a chapter in PFPL on this stuff, but it was always quite mysterious

[2015-05-31 19:06] #34 closed

[2015-05-31 21:03] jonsterling opened #36 "more reasonable parser"
Trying to figure out how to write `f(x)(y)(z)` and `ap(ap(ap(f;god-dam@#n...` is getting out of hand. It would be nice to be able to inject display form parsing into the abt-lib's generic parser.

[2015-06-03 02:03] jonsterling opened #38 "BackThruLemma tactic"
Takes a lemma like `Forall[A....B..]. P` and turns the premises `A...` into subgoals, matching the goal against `Forall[B..]. P` (where `B..` might be empty).

[2015-06-03 02:03] jonsterling opened #39 ""intensional" Auto tactic"
by "intensional" here, I mean, takes into account the current state of the development, and automatically discharges already-proved wf lemmas.

[2015-06-03 02:24] jonsterling commented on #38
the definition I proposed above may not quite work, since you can't just spurt a telescope into the subgoals (not in LCF anyway). I guess it must use some kind of unification or something to make it work. We'll have to look at how this is implemented elsewhere probably.

[2015-06-03 15:07] jonsterling opened #41 ""independent" versions of intro, eq tactics"
`ProdIntro` and `SubsetIntro` cannot support refinement proof, since in order to compute the subgoals, you must already know the first projection. However, in case the goal is `A & B` (rather than `x:A & B[x]`) or `{A | B}` (rather than `{x:A | B[x]}`, we may provide a refinement rule for them.

Aside from ease-of-use, refinement rules are better because they may be applied automatically, since th

[2015-06-03 15:26] jonsterling opened #43 "InstLemma tactic"
This is something we can do before adding `BackThruLemma` #38, which does not require any fancy unification machinery. Essentially, the tactic takes the substitutions as a parameter.

[2015-06-03 20:14] jonsterling opened #45 "report source locations for refinement errors"

[2015-06-03 20:15] jonsterling opened #46 "add "silent" mode"
David's emacs mode would benefit from something like

[code]

which would only report errors, not summarize development state.

[2015-06-03 20:40] jonsterling opened #48 "add syntax for ORELSE tactical"
there's no way to invoke this from a tactic script at the moment

[2015-06-03 20:46] david-christiansen commented on #45
Ideally, the filename, line, and column number are easily regexpable out of the message, and the filename is given relative to JonPRL's working directory. That would make it easy for `jonprl-mode` to make the error clickable.

[2015-06-03 20:48] david-christiansen opened #49 "Provide editor keyword lists"
It would be great if JonPRL spit out a newline-delimited list of tactics that Emacs or other editors could slurp in and use for highlighting, so that the tactic list doesn't live in some static list in the editor's syntax definition.

[2015-06-03 20:53] jonsterling commented on #49
That'd be really cool too; right now, tactics are parsed directly into
ML functions and therefore don't have any structure or names that could
be recovered. But in order to implement a better experience around
errors, this will have to change anyway.

Jon

On Wed, Jun 3, 2015, at 01:48 PM, David Christiansen wrote:

[2015-06-03 20:54] david-christiansen commented on #49
You could still have a hardcoded list that JonPRL dumped out with a particular command line argument. That means it gets maintained in one place instead of two.

[2015-06-03 20:55] jonsterling commented on #49
Ah, I see! Yes, certainly we can do that.

On Wed, Jun 3, 2015, at 01:54 PM, David Christiansen wrote:

[2015-06-04 01:15] #46 closed

[2015-06-04 16:11] jonsterling commented on #45
Just commenting for reference so I don't forget it—I am thinking that there should be some sort of "enriched" LCF signature that wraps up tactics in annotations, and then uses them to give better error messages.

I'm thinking that it could be as simple as this:

[code]

The above stuff is general enough that it could actually just live in the [sml-lcf](https://github.com/jonsterling/sml-lcf) libra

[2015-06-04 18:35] jonsterling opened #51 "Defined operators of arbitrary arity"
Right now, definitions are limited to being nullary (and references to a defined term are treated as free variables). It would be better if we added a special operator that took a symbol as its *parameter*, and then considered the parsing of ABTs as parameterized over a development. Then, something like this would be possible:

[code]

Now, Nuprl does this but has special "second order variables",

[2015-06-04 18:55] ghost commented on #51
It would be really nice to have this. Not sure about the "second order variables" though. Is there a reference somewhere that describes them?

Actually I've been wondering about whether it could make sense to try and implement multi-abstraction/application like in the setoid thing we worked on. In the most general sense (with respect to polynomial monads) there are some difficult issues to figure

[2015-06-04 19:56] jonsterling commented on #51
This chapter of the Nuprl manual discusses second order variables & subsitutions: http://www.nuprl.org/html/02cucs-NuprlManual-07definition.pdf

Sure, I'd be interested to see what you have in mind for "multi-abstraction". I guess in this setting, it would mean an more advanced structure for arities than just lists of valences?

[2015-06-04 20:29] ghost commented on #51
Okay, I'll try and write something up about what I have in mind. What I had for shoggoth was a little bit like what you've written above in that you always gave an operator with an arity and this information was used during "inference" and normalization. I think the encoding I used for arities was equivalent to hereditarily finite sets (or rose trees of unit). You can interpret these as numbers in

[2015-06-04 20:35] jonsterling commented on #51
Interesting... If you wish to pursue this, then I think it basically
amounts to a generalization of abstract binding trees. This would be
very, very useful! If you can make the rules clear, than we can probably
implement a generalized version of the `abt` library.

However, I just want to note that with the current version of arities,
the mess of ap(ap(ap(.... is also resolved. I think that your p

[2015-06-09 17:02] #45 closed

[2015-06-09 17:02] #48 closed

[2015-06-11 18:23] #51 closed

[2015-06-11 18:54] jonsterling opened #54 "Add support for MetaPRL-style "resources""
It should be possible to "install" a tactic as a case in the ambient tactics. That is, I should be able to add a tactic to `auto` from within a development, like the following:

[code]

[2015-06-11 18:56] jonsterling opened #55 "add prelude, remove built-in MEM operator"
A prelude should include at least the following (this requires #54 to be implemented):

[code]

When running `jonprl`, the Prelude should be automatically prepended to the development, but there should be a `--no-prelude` flag that you can pass.

Open question: where should the prelude live? Should it just be baked into the binary? I want JonPRL to work immediately without a complicated installati

[2015-06-12 03:54] ghost commented on #55
As long as there is a `--no-prelude` flag it's probably okay to bake it into the binary at least in the short term. I tend to prefer to explicitly include prelude stuff though rather than having to disable it but maybe it's not a big deal. However, it might be a good idea to distinguish between some minimal set of builtin things and a prelude in the more traditional sense. For example, in purescri

[2015-06-12 04:46] jonsterling commented on #55
makes sense; i am thinking I just want a way to have certain ambient definitions that every development needs. probably this is different from a "prelude", which we may not even want. I like the purescript approach.

[2015-06-14 15:30] jonsterling opened #58 "better pretty printer"
Right now, the pretty printer is pretty awful, and does not properly handle parenthesization. This makes it hard to read JonPRL output.

[2015-06-14 17:05] jonsterling opened #59 "revisit universe polymorphism"
In #44 I proposed a simple-minded form of level polymorphism where every definition and theorem was parametric in a single universe hierarchy, and then when instantiated, definitions and theorems could be hoisted into the hierarchy of the use-site.

I would like to have the real thing, however, which is essentially to extend this to having objects be polymorphic in an arbitrary number of levels. H

[2015-06-17 17:59] jonsterling opened #61 "add subtyping tactics"
One basic tactic, would take a goal `M in A`, and eliminate a hypothesis `M in B` where `B <: A`, and thence discharge the goal. Presumably this could be added to the `auto` tactic.

[2015-06-19 06:41] jozefg opened #62 "Pretty printer bug with SO_APPLY"
It seems like there's a bug on in the pretty printer (operator.sml line 231). This tries to match on the constructor `SUBST` which doesn't in fact exist. It swallows the warning since it just handles it as a variable.

Because of this the pretty printer prints `SO_APPLY`'s as `SUBST` used to pretty print: `"subst"`.

[2015-06-19 12:50] jonsterling commented on #62
Oh no!
Thank you for catching this.

On Thu, Jun 18, 2015, at 11:41 PM, Danny Gratzer wrote:

[2015-06-19 12:51] #62 closed

[2015-06-19 21:43] jozefg opened #63 "Unfolding behaving strangely"
In this example transport refuses to unfold despite Jon and me thinking it ought to.

[code]

[2015-06-19 21:58] #63 closed

[2015-06-24 10:44] david-christiansen opened #77 "JonPRL loops when trying to prove facts about Y"
When I load the following code:
[code]
JonPRL loops. Perhaps there should be a reduction counter so it can bail after 10000 iterations and dump an error?

Also, as an aside, I'm stuck trying to prove this. I would think that I need some way to rewrite explicitly using beta-equality, but I can't figure out how to do that. I may be way off base here, though!

[2015-06-24 14:14] jonsterling commented on #77
Indeed! I was just thinking yesterday that the naive strategy of running all known conversions in the Auto tactic isn't going to work for long. the solution is to move these out of auto and allow conversionals to be used directly.

Sent from my iPad

[2015-06-24 14:15] jozefg commented on #77
Perhaps add a tactic `reduce` which runs the conversionals and optionally takes an argument to be the maximum number of conversionals applied? Seems easy enough to add this and remove conversional stuff from `auto`.

[2015-06-24 14:16] jonsterling commented on #77
I think that's the right thing to do, yes.

Sent from my iPad

[2015-06-24 14:17] jonsterling commented on #77
I'll probably do that this morning, since it would make nice propaganda to have an example module with facts about Y.

[2015-06-24 15:10] david-christiansen commented on #77
And here I am trying to actually write a damn program in the thing.... :-)

[2015-06-24 15:13] jonsterling commented on #77
Hahaha... well for an implementation of ctt, not supporting your development is pretty embarrassing, so I'll have soon fixed it :)

Sent from my iPhone

[2015-06-24 15:19] david-christiansen commented on #77
Awesome!

[2015-06-24 15:53] jonsterling commented on #77
BTW, you won't be able to prove exactly that theorem, since it's not `Pi(A; x. A)`; we'll need to add a type `Base` with Howe's computational equivalence as its equivalence relation. See #17

[2015-06-24 16:06] david-christiansen commented on #77
Ah, thanks! Is there a mailing list where this kind of newb question can get asked? If not, should I start one?

[2015-06-24 17:30] jonsterling commented on #77
I do not have a mailing list, but I am definitely open to the idea! Feel free to start one if you like (I would, but I don't know how ;-) )...

[2015-06-24 17:51] #77 closed

[2015-06-25 22:38] jozefg commented on #17
I'm willing to take a stab at this. What would be involved? I presume we'll use Howe's method to transform applicative bisimulation into something which behaves as a congruence. But where should I go from this statement?

[2015-06-25 22:38] jonsterling commented on #17
Great! Presumably we'll need to add dozens of rules to JonPRL (at least, this is what I think Nuprl did). Let's talk with Mark about this and see if there is a simplest way forward.

[2015-06-26 04:40] jonsterling commented on #59
After discussing it at length with Mark Bickford, I think that the simple version with only one free level variable will always suffice, so I will implement that one.

[2015-06-26 10:38] david-christiansen opened #83 "Add documentation for tactics"
It would be nice if the README contained a list of all the built-in tactics and what they do, similar to the list in the Nuprl manual. As a new user, it's quite difficult to get started.

[2015-06-26 16:40] jonsterling opened #85 "Add license"
Anyone have a preferred license? I usually use MIT but I would be lying if I thought I knew the difference between any of them.

[2015-06-26 17:53] ghost commented on #85
There's a handy overview [here](http://choosealicense.com). I generally prefer MIT or Apache.

[2015-06-26 18:01] jonsterling commented on #59
Done

[2015-06-26 18:01] #59 closed

[2015-06-26 18:02] jozefg commented on #77
Heads up, we can now prove this in my super-special pull request #84. See the file `examples/y.jonprl`

[2015-06-26 19:22] jozefg commented on #85
My vote is for MIT, no strong opinions though. (Hey if we use GPL GnuPRL can be a thing)

[2015-06-26 20:04] david-christiansen commented on #85
I'm a big GPL fan myself, but I don't think JonPRL is really at risk of being ripped off by some company, so the strategic benefits are relatively small here :)

[2015-06-26 20:14] jonsterling commented on #85
I would love to call it GnuPRL!

[2015-06-26 20:24] david-christiansen commented on #85
You could also follow the alphabet and call it xiprl

[2015-06-26 21:06] jonsterling commented on #17
Done by @jozefg in #84

[2015-06-26 21:06] #17 closed

[2015-06-26 21:08] #85 closed

[2015-06-26 21:08] jonsterling commented on #85
Thanks everyone for the feedback! :) I've chosen MIT.

@david-christiansen Bob had also suggested XiPRL, but I found it hard to pronounce :wink:

[2015-06-26 21:21] david-christiansen commented on #85
JonPRL is a great name anyway :)

[2015-06-26 21:22] jonsterling commented on #85
We still need to add that amazing logo...

[2015-06-26 21:29] david-christiansen commented on #85
I've been trying to find a way to use it as a background in Emacs
compilation buffers, but failed.

[2015-06-27 18:13] david-christiansen commented on #58
Is there a particular reason why the pretty-printer doesn't use the same syntax as the parser? For me, it would be easiest if the parsed and pretty-printed terms were the same modulo whitespace.

[2015-06-27 18:14] jonsterling commented on #58
It is because the input syntax is totally unreadable, and I needed
something that I could actually read to appear in the goals. If anyone
wants to write a parser for a reasonable input language, I will happily
accept it, but it's not something that I'm able to spend time working
on.

Best,
Jon

On Sat, Jun 27, 2015, at 11:13 AM, David Christiansen wrote:

[2015-06-27 20:46] freebroccolo opened #93 "Formalize domain theory"
Someday it would nice to use JonPRL to reason about synthetic topology, eventually with applications to higher-dimensional groupoids and abstract stone duality. But before that, we need some basic domain theory in place first. I think a good source to use would be Escardó/Ho' paper: [Operational domain theory and topology of sequential programming languages](http://www.cs.bham.ac.uk/~mhe/papers/es

[2015-06-27 22:07] david-christiansen commented on #58
All right, sounds reasonable.

[2015-06-28 01:11] jonsterling commented on #93
I asked Mark Bickford about this today, and one problem they ran into when trying to implement synthetic topology in Nuprl was that you seem to need some kind of parallel operator (like in PCF); now, Mark seemed to think that something like this was non-deterministic (and so he was not yet sure how to add it to Nuprl), but it should actually be deterministic, right?

[code]

And everything else sh

[2015-06-28 02:23] ghost commented on #93
I think whether it should be considered deterministic or not depends on how it is implemented and whether you consider that from the internal or external perspective. I don't know enough about what's possible yet with Howe's relation to see how it should work here but in the monadic approach it's pretty straightforward to implement:

https://github.com/freebroccolo/purescript-synthetic-semicomputa

[2015-06-30 12:38] jonsterling opened #98 "vend keywords, tactics for emacs mode"
It would be nice to define these things from `jonprl` so that we don't have to keep changing the emacs mode.

@david-christiansen How would you like this to work? I'd be happy to get something minimal set up...

[2015-06-30 13:54] david-christiansen commented on #98
I think it's best to do the simplest thing that could work. What about having `--list-tactics` and  `--list-operators` that dump the lists to stdout? Then we could also make it help with getting arities right. Something like

[code]

That would be enough for both highlighting and somewhat reasonable autocomplete, potentially by abusing yasnippet.

To be really excellent, add `--docs` that prints o

[2015-06-30 13:55] david-christiansen commented on #98
Eventually it might be nice to do something like Idris's IDE mode, or even to abandon Emacs and do some kind of nifty Web interface that works kind of like Nuprl but follows modern conventions. But this is enough for me to spend minimal time to get a better experience!

[2015-06-30 14:17] jonsterling commented on #98
@david-christiansen OK, that sounds sweet. I'll try and put something simple together, along the lines you suggested in your first comment. Adding documentation would be awesome as well...

BTW, in the source files, I'd like to instantiate a separation of documentation and comments like you have got in Idris... But I'll save the documentation stuff for a second pass.

[2015-06-30 14:22] david-christiansen commented on #98
Sounds good!

Documentation is unfortunately a somewhat deep rabbit hole, due to markup language issues and such.  But having it as simple strings for the built-in bits seems reasonably easy, at least.

How do you see the future of JonPRL interactions? Something more in the style of Agda/Idris, Proof General, or NuPRL? Or would you like to support multiple interaction modes?

[2015-06-30 14:44] jonsterling commented on #10
Closing this, since it belongs in the `sml-lcf` repository.

[2015-06-30 14:44] #10 closed

[2015-06-30 14:51] jonsterling commented on #2
closing because it belongs on the `sml-lcf` repo

[2015-06-30 14:51] #2 closed

[2015-06-30 15:03] jonsterling commented on #49
I forgot that this ticket was already here when I added #98. Since there's a thread in the latter, I'll close this in favor of that.

[2015-06-30 15:03] #49 closed

[2015-07-01 01:52] jozefg opened #104 "Make auto less aggressive"
auto can currently pick a combination of tactics and leave the goal in an unprovable state even for provable theorems. Perhaps we should remove any tactics from auto so that it cannot affect the provability of a goal. In this case to run such tactics one would use the specific `eq-cd`, `intro`, or `elim` incantation.

Fixing this will involve sorting the set of rules auto can apply as invertible o

[2015-07-01 01:54] jozefg opened #105 "Split apart ctt.fun"
ctt.fun is currently comprised of dozens of functions and has grown to a pretty large size. However, since none of the functions really depend on each other we should be able to split it into folder `rules` which contains

 - One utility file for things like `unify` and other commonly used functions
 - One file for each connective

This should ensure we have 5-10 smallish files rather than one sca

[2015-07-01 01:55] jonsterling commented on #105
:+1:

[2015-07-01 01:57] jonsterling commented on #104
I agree. It would be really cool to apply ideas from focusing etc. into making the tactic system more well-behaved.

[2015-07-01 02:01] jozefg commented on #104
I agree, my idea basically being that `auto` should "do what focusing does in the unfocused phase" and just go crazy and apply every invertible rule. This would involve teaching auto to look in the context though which could get interesting. The idea I have outlined above is 1/2 of what the unfocused phase does: it's splitting apart negative things on the right or something to this effect.

[2015-07-01 02:14] #98 closed

[2015-07-01 05:12] david-christiansen opened #107 "--list-operators doesn't output built-in operators"
E.g.
[code]

I'd expect it to also output lambda, pi, ap, so_apply, etc.

[2015-07-01 16:09] #107 closed

[2015-07-01 17:42] david-christiansen opened #109 "Make --list-operators and --list-tactics work on incomplete developments"
Right now, --list-operators only works on comlete developments. Now that Emacs uses the output for completion and highlighting, this means that the state the file was opened in has a big impact on user experience. If it could print arities for files that are syntactically valid but incomplete, that would make the highlighting much better.

As an easier alternative, it could also print the operator

[2015-07-01 17:45] jozefg commented on #109
Hm, this seems like a straightforward modification to how `main.sml` handles failure (at least I think?). If I'm correct I can do this :)

[2015-07-01 17:46] jonsterling commented on #109
@jozefg Possibly... But if an operator is defined after an unfinished theorem, it won't show up I think. So we may need to have a mode in which we run a development, but don't actually try to ensure that theorems are evident.

[2015-07-01 17:49] jozefg commented on #109
@jonsterling Oh I see, because the exception will cause it to bail out.. Though it might be interesting to consider processing the development AST right away and delay proving things until afterwards.

EDIT: perhaps I shouldn't be so hasty. Looking at the code now it would seem that it's possible but might require us to hang on to a lot of development environment's as we process a file which could

[2015-07-01 18:30] david-christiansen opened #110 "Add --tactic-docs to dump a summary of a tactic"
It would be nice for jonprl-mode if a `jonprl [FILE] --tactic-docs TACTIC` mode were added that dumped a few sentences about TACTIC to stdout, preferably in a one-line summary followed by a blank line followed by actual text. That would make it easy to show help in Emacs, as well as add a simple command to get more detailed docs.

Example:
[code]

[2015-07-01 18:32] david-christiansen opened #111 "Add --operator-docs to dump a summary of an operator"
It would be nice for `jonprl-mode` if a `jonprl [FILE] --operator-docs OP` mode were added that dumped a few sentences about OP to stdout, preferably in a one-line summary followed by a blank line followed by actual text. That would make it easy to show help in Emacs, as well as add a simple command to get more detailed docs.

Example:
[code]

[2015-07-01 19:00] jonsterling commented on #105
If in the course of doing this, it makes sense to be less aggressive about the little mini-refiners being fibered over all these other structures, feel free to simplify things... I'll leave it up to your judgement.

[2015-07-01 19:29] david-christiansen opened #112 "Trivially parsable proof state"
Right now, when a development is incomplete, JonPRL dumps a description of the proof state as output. However, this is a bit difficult to parse. If it were in some kind of structured format, even just an s-expression or json with a string source position and a string proof state, then I could define a flycheck checker, which would allow the proof state to be presented as tooltips that appear autom

[2015-07-01 19:29] david-christiansen commented on #112
This as opposed to the present "load and peer into compile buffer" interface

[2015-07-01 19:32] jonsterling commented on #112
That would be much better! To start with, I can definitely give structured output which has the source position in one field, and the state in another. Then, later on, perhaps we can think of what kind of cool stuff we can do by adding further structure.

Right now, using JonPRL is a lot like using Twelf: as you say, you check the development, and then you inspect the output in the other window. I

[2015-07-01 19:34] david-christiansen commented on #112
Perhaps just provide a command line switch "--ide" that causes the output to be formatted differently. That keeps accessibility for non-Emacs users, and also doesn't bias it for others.

Prob. JSON is better than S-expr, if you want to get support from other editors.

[2015-07-01 20:54] david-christiansen opened #114 "\forall missing in operator list"
`jonprl --list-operators` doesn't include forall, presumably because it's an alias for dependent intersection.

[2015-07-01 20:56] jozefg commented on #114
I think we got rid of \forall and now just have \bigcap so it shouldn't be in there?https://github.com/jonsterling/JonPRL/commit/1278a191c6a4796c50841ed63135f334b1595104

[2015-07-01 20:58] david-christiansen commented on #114
Indeed! it was only one `M-x revert-buffer` away!

[2015-07-01 20:58] #114 closed

[2015-07-01 20:59] jonsterling commented on #114
Sorry, I just sort of made that change without telling anyone! :)

I was seeing that everyone was using `\forall` instead of `\bigcap`, and I figured I should put a stop to it... (BTW, in case you're curious, we call what JonPRL has the "family intersection", and the "dependent intersection" is another very interesting type which we will want to add soon.)

[2015-07-01 21:00] david-christiansen commented on #114
OK! The mode is hereby updated.

[2015-07-02 06:24] jozefg commented on #104
So I'm working on this now and I've run into a slight stumbling block: it seems to be me that `auto` should never apply an equality rule on a non-canonical operator. The issue being that this is going to lead you to try to prove that they're equal component wise and what you may need is to _reduce_ and then go prove things.

 However, this seems to really hurt how well `auto` works. Should we proc

[2015-07-02 15:47] jonsterling commented on #104
Interesting...

Would it be worthwhile to have a tactic that applies all invertible rules, and then have another tactic that also calls the ones that might get stuck? I think decomposing the tactic into justified parts is still a good idea, but we probably will want to have a tactic that does as much as `auto` does currently.

[2015-07-02 18:03] jozefg commented on #104
What about this:
1. Give auto a numeric argument
2. `auto` with no argument defaults to "infinity" (so this change is backwards compatible)
3. `auto 0` only applies invertible rules
4. `auto (succ n) = auto 0; (eq-cd | intro); auto n`

[2015-07-02 18:12] jonsterling commented on #104
That's a really interesting idea! I don't love numerical arguments that specify "how hard" something will try (I kind of echo what Mark thought about these), but this one actually seems well-motivated and easy to understand...

[2015-07-02 19:05] #104 closed

[2015-07-02 20:51] david-christiansen commented on #83
It might be even better to have online documentation, so that editors can query JonPRL and display it. Then the README version could be generated from the dynamic version.

[2015-07-02 20:53] jonsterling commented on #83
@david-christiansen I think that's a great idea!

[2015-07-02 20:56] david-christiansen commented on #83
I've spent the last 2 years trying to turn Idris into Emacs Lisp*. It's been nice! JonPRL should do the same!

\* or rather, to allow any editor to be as good for Idris as Emacs is to Elisp

[2015-07-02 21:04] jonsterling opened #116 "signed proof artifacts"
Was talking with @david-christiansen this morning, and we were thinking it would be kind of cool to have a system where JonPRL produces artifacts which are signed by each person who has run JonPRL over them.

This way, depending on what public keys you have told JonPRL to trust, it could then skip checking entire parts of a proof, and just take for granted that the proposed proof is valid. If we h

[2015-07-02 21:32] ghost commented on #116
This sounds like it would be really cool. I wonder if some of the work from Harper and his students might be relevant for this (I think it was ConCert or something), though I think they still did some sort of checking with certificates…

[2015-07-02 21:53] david-christiansen commented on #116
I think it would be fair for users to sign a pair of a JonPRL version and proof, stating that they checked it with version x.y.z-git049384a2 or something.

[2015-07-03 08:05] david-christiansen opened #117 "Tree interface"
It would be nice if JonPRL had a mode where developments could be checked as tree structures that contain sub-bits of free text, analogous to Agda's holes. Then, various commands could convert the contents of holes to bits of checked proof. A feature like this would be enough to implement a Nuprl-style proof tree editor in Emacs or a web site.

This interaction mode could be implemented either as

[2015-07-03 17:21] jonsterling commented on #117
This sounds really cool!

Could you clarify one thing? I am not sure what is meant by "the editor is confused"; how come it has to re-sync?

[2015-07-03 17:22] david-christiansen commented on #117
The idea is that the client needs to keep a model of what to display, and the server has a proof AST. The client might, for some reason, suspect that its model is imperfect, or that a message was missed. It seems prudent to let it ask for the server's authoritative view of things.

[2015-07-03 17:26] jonsterling commented on #117
Ah, OK! Cool.

So if I recall correctly, Epigram used the "text file transducer" approach, which is one of the options you suggested. The other option is a server, like you mention...

Now, in case we do the first option, it's clear what the actual artifact would be (namely, it'd be that file). If we went the server route, I suppose that the artifact would be a big json (or other format) blob? And

[2015-07-04 12:57] david-christiansen commented on #117
I think that whether it's a text file transducer or a server is fairly unimportant - in either case, the client should see the same structure, and a normalized version (e.g. with fixed indentation conventions) should be saved on disk. Whether the client gets the state from disk or from a socket seems to me to be mostly a matter of efficiency.

[2015-07-05 21:13] david-christiansen opened #118 "An empty tactic script is a syntax error"
Eg, this does not parse:
[code]
but this does:
[code]

I propose making empty tactic lists equivalent to `id`.

[2015-07-05 21:14] jonsterling commented on #118
Yes, I support this change!

[2015-07-05 21:20] david-christiansen commented on #118
You DID ask me to report it, after all! (catching up on email here)

[2015-07-06 05:27] #118 closed

[2015-07-08 15:41] jonsterling opened #121 "ascii-only concrete syntax"
This is kind of a "request for comment"... I have been thinking that the requiring fancy input methods to enter in JonPRL code is a bit unkind. It's often difficult as well to know which variant of a symbol to use (for instance, `\bigcap` or `\cap`? it's the former, but that may be non-obvious to users.)

My thinking is that we should make the built-ins have ascii names, and then implement display

[2015-07-08 16:13] jozefg commented on #121
:+1: from me, ascii is unfortunately still way easier to use and editors are perfectly capable of showing the pretty equivalents.

Is the list of unicode characters available just
- \Sigma
- \bigcap
- \lambda
- \in

right now? That's all I'm seeing in operator.sml.

[2015-07-08 17:34] ghost commented on #121
ASCII is probably a reasonable choice. There are some ways to deal with the the unicode issue but it involves handling confusables and normalization nicely and doing that is definitely non-trivial, especially if there aren't already libraries for it. The main downside to ASCII scripts in my mind is that, outside of the editor, they are harder to read and unfortunately this is how most people will

[2015-07-08 20:12] david-christiansen commented on #121
I agree that it should be ASCII. I find the Unicode names harder to type and no easier to read. Then, some users can turn on a display mode, and some (like me) can avoid it :-)

Might I recommend the following?
- \Sigma => sigma
- \bigcap  => isect
- \lambda => lam
- \in => elem

Just bike shed colors - feel free to disregard!

[2015-07-08 20:13] jonsterling commented on #121
I like it! The only suggestion I'd make would be `mem` or `member` instead of `elem`, just to match the abstract names used in Nuprl.

[2015-07-08 20:21] david-christiansen commented on #121
Seems reasonable.  What about \Pi? Should that perhaps be `pi` or `fun`?

[2015-07-08 20:23] jonsterling commented on #121
@david-christiansen I'm fine with either one. I think `fun` makes sense, though if we do this, then sigma should be `prod`.

Actually, Nuprl uses `dfun` and `dprod` for the dependent versions, but that's a little lengthy for the default case.

[2015-07-08 20:25] david-christiansen commented on #121
I'm not sure that Nuprl's names are necessarily the most ergonomic in a system that isn't based on display forms. But I actually like "fun" and "prod" - those make more immediate sense to me than "sigma" and "pi".

[2015-07-08 20:26] jonsterling commented on #121
Yes, I agree fully. Let's use `fun` and `prod`!

[2015-07-08 20:27] david-christiansen commented on #121
Nice! Remember to update the `jonprl-mode` readme with prettification instructions :-)

[2015-07-08 20:28] jonsterling commented on #121
@david-christiansen good idea, will do!

[2015-07-09 00:18] david-christiansen opened #125 "Potential wrong IH over nats"
I think I may be making a mistake here, but I can't seem to find it. Or, potentially, elimination for nat is doing the wrong thing.

I tried encoding Vect as n-nested sigma types. But when I try to write recursion over vects, I don't get the IH that I'd expect when in the cons case. Here's my code:
[code]

Thanks, and sorry if I'm just doing it wrong.

[2015-07-09 02:54] jozefg commented on #125
I managed to get it to go through by carefully avoiding introducing `xs` into the context before inducting so that our IH isn't accidentally ill-typed which is what seems to have happened to you here.

[code]

So the bug here is not generalizing the IH so that if you eliminate the ith component of the context, the IH generalizes over all the components that follow it (this is what Coq does).

EDIT

[2015-07-09 06:04] david-christiansen commented on #125
Thanks! I was afraid I'd done something like that. Is this actually a bug, then? Or is it simply a nice-to-have feature?

[2015-07-09 16:12] jonsterling opened #126 "First-order matching"
One thing that would help proof automation in a huge way would be to support a very simple version of Coq's `match goal with` thing.

However, one wrinkle is that this probably involves changing the syntax of tactic scripts to use ABTs, since we will now be binding (meta)variables for hypothesis labels, etc. @jozefg, any thoughts? Is there a simple way we can do this?

[2015-07-09 17:36] jozefg commented on #125
I don't think it's unsound, you should just get stuck since you can't "invert" upon the well-typedness of something in the context. On the other hand it's annoying that this can even happen and it would probably be good to catch it earlier or just do what Coq does and generalize properly.

As far as I can tell, the procedure is
1. Start with a set containing the variable we're eliminating
2. Scan

[2015-07-09 17:42] jozefg commented on #125
@david-christiansen Here's a much cleaner version of that proof where we use `auto`, but then subsequently use `assert` to get the right IH and specialize it to the vector we wanted originally only _after_ proving the theorem

[code]

[2015-07-09 18:04] jozefg commented on #126
Hm, this is going to be a bother because I suspect we won't be able to use `sml-abt`: it's hitting that pathalogical case of binding variables in one sort that range over a different sort, in this case tactics binding terms.. So we'll have to handwrite some of the binding if we go that route.

Otherwise we we need to write some tactic of the form

[code]

Where `x`, `y` and `z` range over terms an

[2015-07-10 05:14] david-christiansen commented on #125
That is nicer!

[2015-07-10 05:27] jonsterling commented on #125
@jozefg your proposal is interesting; I'd have to think about it a bit more...  Is there any way this can be implemented as an ML tactic on top of Natrec? I'd like to keep the actual rule as vanilla as possible...

By the way, I would like to avoid modifying the rules for naturals (at least temporarily), since we may be switching to using ints + subsets to represent them relatively soon.

[2015-07-10 13:19] jozefg commented on #125
I think so.. It will definitely be a useful tactic if we get any more inductive types @jonsterling

Cool!

[2015-07-10 23:24] #121 closed

[2015-07-13 03:59] jonsterling opened #128 "proper unification"
Right now, we have a dummy operation `unify`, but it just ensures that two things are equal. Instead, it should walk the term and suggest a substitution.

[2015-07-13 13:47] jozefg commented on #128
So [sml-abt-unify](https://github.com/jozefg/sml-abt-unify) would seem to be ideal here. With it we can get a unification algorithm for our terms for free which is nice.

[2015-07-13 14:28] jonsterling commented on #128
Heh, that was quick! :)

So in terms of integrating this library in, there is the issue of getting each library to agree on where its dependencies come from. For other libraries, I have followed the convention of expecting them to be cloned in the same directory as their dependencies, so that in the CM file, they might say `../sml-abt/abt.cm`, etc.

This isn't ideal, but it has worked so far. Do y

[2015-07-13 14:40] jozefg commented on #128
Maybe the right thing to do here is use CM's "anchor" feature. This let's you define paths variables so we could have something like

[code]

in `abt-unify.cm` and then on use in JonPRL you'd say something like

[code]

This would require a few tweaks on my end but I think that'd be the simplest solution.

[2015-07-13 14:45] jonsterling commented on #128
Oh wow!!! That's what I wish I'd known how to do. We should apply this across all of my libraries.

CM really does keep on turning out to be even better than hoped.

[2015-07-13 14:58] jozefg commented on #128
Yeah :) It's a surprisingly sane tool given that SML doesn't have a whole lot of backing. I've fixed sml-abt-unify to use anchors so now
- `abt-unify.cm` has one anchor `libs` which is the folder expected to have `cmlib` and `sml-abt`
- `development.cm` fills in `libs` to use the submodules this repo has in it to begin with

[2015-07-13 15:10] jonsterling commented on #128
Awesome! I'll follow your example and change the rest of my libraries that have dependencies to work this way.

[2015-07-14 14:50] jonsterling opened #129 "don't differentiate custom tactics from built-ins in concrete syntax"
Currently, a custom tactic is explicitly invoked using `refine <mytac>`. I'd like it to just be `mytac`.

[2015-07-15 10:13] david-christiansen opened #131 "README doesn't use the ASCII syntax"
The README file still mentions the old names for the built-in operators.

[2015-07-15 12:21] jonsterling commented on #131
Oops! will fix today

[2015-07-15 13:14] david-christiansen commented on #131
Thanks! I could do it too - but that will likely be this weekend for various reasons.

[2015-07-16 01:55] #131 closed

[2015-07-16 08:09] david-christiansen commented on #131
Thanks!

[2015-07-17 04:25] #129 closed

[2015-07-20 01:35] jonsterling commented on #128
So, I have been thinking, and it seems important that we should be able to pattern match on open terms; therefore, not all free variables should be considered "negotiable" during unification, since we may have some free variable fixed in a context.

I have what I think is a kind of elegant way to do this, which we perhaps could incorporate into your library...
- https://github.com/jonsterling/sml-

[2015-07-20 16:13] jonsterling commented on #128
One example of what this will enable us to do is replace these nasty `h. something(really-complicated-stuff; h; other-difficult-to-type-stuff)` that occur as arguments to rules like subst, with patterns like `h. something(@phi; h; @psi)`, or even `h. something(...; h; ...)` if we had a special generative metavariable former `...`.

[2015-07-20 19:51] jozefg commented on #128
Oh that's a good point! Why don't I add a similar feature to my library and try to tackle #126, it should stay out of the way of you working on the parser. Or it would also be reasonable just to use your library which seems to have everything we need.. I'm fine either way.

[2015-07-20 19:53] jonsterling commented on #128
I mainly wrote the library as a way to explore the design space a bit before committing to an option... Would you have a look at my design to see what you think about it, in relation to yours? Then, we may be able to make a more informed decision.

[2015-07-20 19:54] jozefg commented on #128
Sure thing! I'll see what I can come up with tonight :)

[2015-07-20 22:41] #36 closed

[2015-07-20 22:41] #58 closed

[2015-07-22 04:42] jonsterling opened #139 "Support built-in abstractions"
We need to be able to have certain abstractions (i.e. operator definitions) be built-in. One example of this would be the `member` operator, which currently has its own introduction rule (whereas it should really be done using `unfold <member>`).

Probably this should be done by "priming" a development with a bunch of built-ins.

[2015-07-22 22:26] jonsterling commented on #139
Done in #141

[2015-07-22 22:26] #139 closed

[2015-07-23 03:50] jonsterling opened #143 "custom prefix, infix & postfix operator notations"
The stage is set for relatively painless declarations of custom prefix, infix and postfix operators in JonPRL developments; mixfix would be much harder, and I'm not (personally) interested in pursuing it.

I want to treat these as notations, not as definitions. So, something like this might happen:

[code]

[2015-07-23 04:35] ghost commented on #143
This would be a really nice improvement. I also feel the same way about mixfix: it's not worth the effort and probably wouldn't be the right choice even if it were easy to implement (and for that amount of effort I'd rather have a macro system or something).

[2015-07-23 04:47] ghost commented on #143
It may be out of scope for this PR but one thing I'd like to have with operators is sectioning with positional wildcards somehow. This would help with category theory developments where I otherwise need to define multiple versions of the same operator where one has the arguments flipped or duplicated.

I'm thinking of something like this:

[code]

The syntax is `QUESTION_MARK {position}? {\ replac

[2015-07-23 04:50] jonsterling commented on #143
That's be really cool! The first two would probably be very easy to implement, and the last one may need some deliberation...

[2015-07-23 05:42] ghost commented on #143
I updated the example syntax and explanation to be a little more concrete. I think if you have some way of keeping track of substitutions while manipulating the terms it shouldn't be too difficult to implement. Whether it's a good idea is another issue I guess.

[2015-07-23 08:36] david-christiansen commented on #143
It's getting to the point where some sort of agda-mode-like highlighting would be good to support in Emacs :)

[2015-07-23 17:09] jozefg opened #145 "Allow tactics to use names OR indices"
In implementing #126 I've noticed that the usefulness of such a tactic will be a bit stunted since many tactics require an *index*, eg `elim #2`. This means that a generic `modus-ponens` tactic will be difficult since (sneak preview of syntax)

      @{ [H : A -> B, H' : A |- B] => elim #??? [H']}

Doesn't work. Instead I propose we allow the user to input *either* a number `#n` or a name `<a>`. I

[2015-07-23 17:58] jonsterling commented on #145
Yes, this is a good idea. We used to support names in these cases, but I had got rid of them because they were even more brittle than indices, but names that derive from the solution to a pattern match are of course perfectly stable. But you will have to make sure to actually perform the substitution into the tactic script...

[2015-07-23 19:24] freebroccolo opened #146 "How do the universe levels work?"
I'm trying to start a proof of Beck-Chevalley conditions for adjoint pairs in the yoga example. This involves composing functors, so I started by trying the following just to see what would happen:

[code]

This fails with the following:

[code]

It may be that I need to change the definition of `Psh` in order to be able to specify the level:

[code]

In the [relevant bits](https://github.com/free

[2015-07-23 19:41] jonsterling commented on #146
I think that you are experiencing the crappiness of the level inference heuristic. The following proof script works:

[code]

[2015-07-23 19:46] ghost commented on #146
Ah right, I think you mentioned how to do this before but I had forgotten. Thanks, I'll give that a try.

[2015-07-23 19:54] jozefg commented on #145
Sadly I had to do that one already over [here](https://github.com/jozefg/JonPRL/blob/master/src/syntax/tactic.sml#L75). Needs more testing but it seems to work OK. I wanted this so that you could use the terms you grabbed with a match in something like `witness`.

[2015-07-23 19:55] #146 closed

[2015-07-23 19:55] jonsterling commented on #146
I have implemented a fix for this issue, so `autoR` should now suffice for your proof

[2015-07-23 19:57] jonsterling commented on #145
OK; I think we may want to consider using abts for tactic scripts, since it is kind of unfortunate that you had to implement substitution by hand.... But we may consider that a separate matter.

[2015-07-23 19:58] ghost commented on #146
Nice! Just tried it and indeed it works. Thanks :)

[2015-07-23 20:03] jozefg commented on #145
Yeah, this PR is making me think a lot about how we handle binding in JonPRL and I think it might be worth
1. Making tactics an ABT but I don't think the machinery in sml-abt can handle it
2. Separating parsing and name resolution. This would mean adding a new representation with no fancy binding structure and converting it to ABTs. It may simplify some of the parser tricks we pull and stuff.

Tho

[2015-07-23 20:05] jonsterling commented on #145
1. Why can't the basic abt machinery handle the binding structure of tactics?
2. Yes, we may need to do this at some point. I actually started with this in the first place (I had a separate AST, which I then converted to ABTs in Bob's style), but at the time it did not seem like it was necessary. Perhaps I should rethink this assumption...

[2015-07-23 22:27] jozefg commented on #145
Sorry for the lag, I missed this :/
1. Variables in tactics range over terms and _not_ over tactics currently which is not how `abt.fun` understands the world. Also, a top level variable in a tactic doesn't make sense and neither does a top level binder
2. Just a thought, perhaps we'll see if we need it for Darrin's section proposal/match stuff?

_At least, I'm pretty sure about 1, I've been wrong

[2015-07-23 23:04] jonsterling commented on #145
1. I think you are right about this
2. I am less certain about this one, but I haven't thought through the proposal sufficiently

[2015-07-24 15:40] jonsterling opened #148 "computational effects"
we should add some computational effects to the computation system. Some ideas are:

1. dynamic symbol generation
2. exceptions
3. kripke's schema

[2015-07-24 17:22] jonsterling commented on #145
BTW, let me know if you want to tackle this, or not—I'm happy to do it otherwise!

[2015-07-24 18:28] jonsterling opened #149 "Implement squash-intro tactic"
As soon as #147 is merged, we can implement this directly inside JonPRL. Something like this should work:

[code]

[2015-07-24 18:36] #149 closed

[2015-07-24 18:46] jonsterling opened #150 "rudimentary build system for developments (à la Twelf)"
Not quite sure how we want to implement this, but it will become very important to be able to import another development into the current one. Any thoughts, @jozefg?

[2015-07-24 19:49] #145 closed

[2015-07-25 03:01] #128 closed

[2015-07-25 03:01] #126 closed

[2015-07-25 03:02] jonsterling commented on #38
This is now very easy to implement; first call `cut-lemma`, and then call `bhyp`.

[2015-07-25 05:37] vrahli opened #155 "Print, Compute, and Search"
Here are a few features would really be useful:

- A "Print id" command, where id is an abstraction name, which would print id's definition
in the JonPRL buffer.

- A "Compute term n" command, which would compute term for n steps and would print the
result in the JonPRL buffer.

- A "Search id1 ... idn" command, which would list all the lemmas that mention all the abstractions
in the list id1 ...

[2015-07-25 17:12] jonsterling commented on #155
Great ideas! It would be really cool if JonPRL developments felt a bit like notebooks, in the style of mathematica or [IPython Notebook](http://ipython.org/notebook.html). This might be a nice way to start...

Another command I could imagine being useful might be `Print Extract`, or `Print Derivation`...

[2015-07-25 17:14] #55 closed

[2015-07-25 21:33] jonsterling commented on #150
On second thought, I don't want import statements, since I feel they'd complicate a lot of stuff and they cause issues of file structure to permeate developments, which are supposed to be at a different layer of abstraction. I would prefer a system more along the lines of CM or even Twelf's `cfg` files.

I think the first step is to develop a very simple `cfg` file parser & frontend, and then we c

[2015-07-26 01:44] #143 closed

[2015-07-26 18:26] jonsterling opened #161 "Nuprl-style equality type"
At OPLSS, Bob Constable talked about how Nuprl's equality type has different well-formedness conditions than it used to, such that it can be well-formed even in case the equands are not of the right type. I seem to recall that this used intersection and top or base or something, but I can't quite remember.

@vrahli Do you have any comment?

[2015-07-26 18:40] jozefg commented on #155
This ticket has is implemented except for Search right? I think I can handle that one! :)

[2015-07-26 18:40] jonsterling commented on #155
@jozefg Great! Yes, search is what is left.

[2015-07-27 15:59] vrahli commented on #161
The rule uses the union type.  In Nuprl, we actually use the image type
directly because
the union type is defined in terms of the image type.
Now the rule says that to prove (a1 = a2 in A) = (b1 = b2 in B) in U(i),
you have to prove that a1 = b1 in (A union Base) and (a2 = b2 in A union
Base),
which among other things means that to prove that (t in T) in U(i), it's
enough to
prove that (t in base

[2015-07-27 16:11] jonsterling commented on #161
OK, very interesting, thanks!

Initially, one thing that worried me about this rule is that it felt impredicative or non-wellfounded—I'm not sure how to put my suspicion into words though. Does this make sense, or is my concern unfounded?

[2015-07-27 16:43] vrahli commented on #161
The issue with the old rule is that it's what we call a non-negatable
proposition.
I think Karl Crary, among others, talks about this issue (negatability) in
his thesis.

On Mon, Jul 27, 2015 at 12:11 PM, Jonathan Sterling <
notifications@github.com> wrote:

##

http://www.cs.cornell.edu/~rahli/

[2015-07-27 21:12] jonsterling opened #162 "use sml-open-abt"
My new library [sml-open-abt](https://github.com/jonsterling/sml-open-abt) (which is based off of [sml-open-ended](https://github.com/jonsterling/sml-open-ended)) provides a reasonably clean way to have an open-ended universe of operators for ABTs.

This will let us split up the `Operator` structure, and perhaps even hide certain operators behind abstraction boundaries. Additionally, this kind of

[2015-07-28 02:02] #162 closed

[2015-07-28 16:08] #155 closed

[2015-07-28 16:31] jonsterling opened #165 "get rid of CUSTOM operator?"
It should be possible, I think, to inject a *novel* operator into the language whenever we parse an `Operator theta : (...)` declaration, after which it won't be necessary to have this "catch-all" operator for user-defined ones. It may be a lot cleaner, but I am not sure...

A question to consider is, is this the right thing to do in any case? In Bob's abt-based logical framework, parameters are i

[2015-07-28 17:31] jozefg commented on #165
Hm.. I'm not entirely sure what the implications would be either.

It would seem like the parser would need to mint new operators (and therefore new structures to contain them) at runtime though. I'm not sure this is possible with SML. If nothing else, the parser actually generating fresh things (vs just a table so that it can properly parse things) seems like something which we should be careful

[2015-07-28 17:53] jonsterling commented on #165
@jozefg I have a little prototype that shows that it is at least possible... So I think the question, as you observe, is whether it will be advisable.

I think there is no problem with the parser adding new constructors to the operator type at runtime, but a big concern is that _adding those operators to the parser_ means that in addition to the benign effect of generating new constructors, there

[2015-07-28 18:03] jozefg commented on #165
Oh that's a good point.. Well, if you decide that this is worth doing I'd be happy to take a crack at it and get a feel for how these open data types work together, especially if you're parser-ed out after implementing the fancier syntax :)

[2015-07-29 05:12] jonsterling commented on #165
resolved in #167

[2015-07-29 05:12] #165 closed

[2015-07-29 05:18] jonsterling opened #169 "tactic arguments"
custom tactics should be able to take terms and hypotheses as arguments; perhaps they should also be able to take tactics as arguments, so that we can write tacticals in JonPRL.

[2015-07-29 05:25] freebroccolo opened #170 "Problem using Eval with sums"
I'm getting an error when I try the following:

[code]

Output:
[code]

[2015-07-29 06:27] #170 closed

[2015-07-29 06:28] jonsterling commented on #170
thank you for the report!

[2015-07-29 23:26] wilcoxjay opened #173 "The tactic "fail" fails to parse"
This is not exactly the kind of failure that is intended for this tactic.

The error message is "Parse error ... unexpected token".

[2015-07-29 23:28] jonsterling commented on #173
Thank you very much for reporting this! This sounds weird, but I think there might be a problem parsing things that begin with the letter `f` (I'm stymied)... I just tried to add a parser for the `fiat` rule, and I had the same problem.

@jozefg Can you think of anything off the top of your head that would cause this?

[2015-07-29 23:53] jonsterling commented on #173
fixed by #174

[2015-07-29 23:53] #173 closed

[2015-07-30 04:56] #150 closed

[2015-07-30 20:01] jozefg commented on #169
It would actually be pretty straightforward to add tactics which depend on terms: the substitution machinery is all there in `branchSubst` or whatever it's called.

[2015-07-31 15:16] wilcoxjay opened #177 "Unfold does not unfold all occurrences"
Consider the following simple example:

[code]

I would expect both occurrences of `my_succ` to be unfolded.

Looking briefly in the implementation, the behavior makes sense: the CDEEP conversional does not recurse if it succeeds at the top level. Perhaps this is "won't fix" or perhaps CDEEP could be rewritten to go bottom-up, which I believe would fix this particular problem.

[2015-07-31 15:19] wilcoxjay opened #178 "Semicolon parsed inconsistently"
In a top-level script, a semicolon is allowed after the last tactic. However, inside a `focus` or other tactical, a trailing semicolon is not allowed.

[2015-07-31 15:20] wilcoxjay opened #179 "No admit tactic"
The refiner has an admit rule, but it is not exposed in the tactic syntax.

@jonsterling: you mentioned that you might have unpushed code that does this?

[2015-07-31 15:23] jozefg commented on #177
I think it would be more intuitive if `CDEEP` is bottom up as well. I just fixed the code on my copy to do this and it was a pretty simple change. Do we depend on the topdown behaviour anywhere?

[2015-07-31 15:32] jonsterling commented on #177
@jozefg I think that the code as it was is probably a mistake, so I'm in favor of the bottom-up approach! Can you just run through the existing jonprl developments and make sure things that were working continue to work?

[2015-07-31 15:49] #177 closed

[2015-07-31 15:49] #178 closed

[2015-08-01 05:20] vrahli opened #181 "Witness accepts terms with free variables"
This should fail because xxx is free but it goes through:

Theorem foo : [ {x : void} void ] {
witness [xxx];auto
}.

[2015-08-01 05:21] jonsterling commented on #181
I think that this is a regression (we had fixed this last month, but I believe I must have broke it last week). Thank you for the report! I will fix this tomorrow.

Best,
Jon

[2015-08-01 15:56] #181 closed

[2015-08-01 15:56] jonsterling commented on #181
This is fixed now. Thank you again for reporting!

[2015-08-01 20:40] #179 closed

[2015-08-02 06:57] vrahli opened #183 "Unfolding of abstractions"
Unfolding abstractions/operators should be counted as a computation step.
Shouldn't this "reduce 2" unfold pi2?
Also, why do I need the ";"?  I get a parsing error without the ";".

Operator pi2 : (0).
[pi2(x)] =def= [spread(x;a.b.b)].

Theorem foo : [ ceq(<>;lam(x.pi2(x)) pair(<>;<>)) ] {
  reduce 2;
}.

[2015-08-02 14:30] jonsterling commented on #183
I thought in nuprl you had to unfold abstractions to reveal redexes?

[2015-08-02 14:37] jozefg commented on #183
The parser bug is a general thing, any tactic accepting a plain number seems to have it.. hm.

[2015-08-02 14:43] jozefg commented on #183
Ah I've found the issue with the parser.. Another whitespace handling issue :/

[2015-08-02 14:52] vrahli commented on #183
In Nuprl, we have an unfold tactic to unfold abstractions.  We also have a
reduce tactic that I don't think
unfold abstractions unless you tell it too: you can write additions to
Reduce to that effect. And we also
have a way to reduce for n computation steps at a specific position in a
term (we have a rule that can
prove that if t computes in 1 computation step to u then t ~ u).  Because
unfolding

[2015-08-03 05:53] vrahli opened #186 "Comments"
It would be great if comments were allowed inside comments.

[2015-08-05 02:17] jonsterling commented on #186
Huh! It is surprising that this doesn't work. Thank you for reporting this... I may have to fix this in http://github.com/standardml/parcom, since that is where the code to parse comments is.

[2015-08-10 04:53] jonsterling opened #190 "elim rule for approx"
I should be able to get `x = AX` from `x : approx(M;N)`, right? (There used to be an elimination rule for `unit` that did this, before `unit` was replaced.)

@vrahli

[2015-08-10 05:08] vrahli commented on #190
That's right, it looks like we're missing this elimination rule for approx.
Do you want me to add it?

On Mon, Aug 10, 2015 at 12:53 AM, Jonathan Sterling <
notifications@github.com> wrote:

##

http://www.cs.cornell.edu/~rahli/

[2015-08-10 05:26] jonsterling commented on #190
Thanks for confirming! I'm happy to add the elim rule tomorrow.

best,
jon

[2015-08-10 17:17] #190 closed

[2015-08-12 02:50] jonsterling commented on #161
Closed by #187

[2015-08-12 02:50] #161 closed

[2015-08-16 06:23] jonsterling opened #194 "Add exceptions to computation system"
This is super cool in Nuprl, and I'd like to do it in JonPRL as well. Would require two components:

1. nominal abstraction
2. exception mechanism

[2015-08-16 16:43] jonsterling opened #195 "[idea] implement neel's linear type system"
http://www.cs.cmu.edu/~neelk/dlnl-paper.pdf

Neel formulates his type system in [Harper's style](https://www.cs.uoregon.edu/research/summerschool/summer10/lectures/Harper-JSC92.pdf), so it seems like it should be possible to implement it in JonPRL.

Basically, the linear type system is explained by PERs on machine configurations that respect linear evaluation (as opposed to PERs on expressions tha

[2015-08-16 23:44] #29 closed

[2015-08-18 03:58] #105 closed

[2015-08-18 16:21] jonsterling opened #200 "expose PROGRESS tactical"
As noted by @jozefg in #199, this would be very useful.

[2015-08-18 16:30] #54 closed

[2015-08-19 13:10] #200 closed

[2015-08-22 21:46] jozefg opened #208 "Targeted Reduce and Unfold"
Currently `reduce` and `Unfold` globally apply their transformations. Instead they should be able to optionally take a path (for example, `[h. =(foo; bar; h)]`) and then only apply their transformations at that spot.

[2015-08-22 21:53] jozefg opened #209 "User Defined Resources"
It would be interesting if JonPRL allowed users to define their own resources. Especially since they can be used with the new `resource` tactic.

Possible syntax:

     Resource foo.
     Resource foo += { .... }.

The idea being that a resource must be declared before its first usage and error in any other case.

[2015-08-22 22:01] jonsterling commented on #208
:+1: Additionally, it should be possible to specify a target such that it only rewrites in a certain hypothesis, or in the conclusion, etc.

[2015-08-23 01:02] jozefg commented on #209
@jonsterling ~~As it turns out, it's trivial to add support for this if we _don't_ require declarations, but I'm not so sure this is morally acceptable. Thoughts?~~

It's a bad idea, you can easily typo a resource and get no warnings or errors.

[2015-08-23 16:31] #209 closed

[2015-08-23 21:27] jonsterling opened #213 "quotients and PER types"
It's getting to the point where it would be really nice to have quotients.

@vrahli Do you recommend first adding PER types and then defining quotients from these? Which is the simplest way, in terms of ease-of-use?

[2015-08-23 21:37] jozefg commented on #213
:+1: This would be really nifty to have!

[2015-08-23 22:06] jonsterling opened #214 "pattern compilation is broken for multiple bindings"
A pattern like `x.y.F[x][y]` is not supported, but this is of course needed for operators whose subterms have valence `> 1`.

This code is super gnarly and was basically written "cowboy" style by me—we should probably replace it with a proper implementation of *linear* second order unification (which is decidable, and all we would need anyway in this case).

[2015-08-24 01:08] jonsterling commented on #214
By the way, to characterize the patterns on ABTs, we should just be able to copy a simplified version of the `Δ;Ψ ||- p::A` judgment from the Noam/Dan/Bob focusing stuff, where types `A` are just either valences or lists of valences.

The above restriction on types should suffice to stop everything at the second order, at which point a substitution `θ :: Δ` should be admissible given a derivations

[2015-08-24 03:23] jonsterling commented on #214
I've started making some notes/plans here: https://github.com/jonsterling/sml-abt-patterns/blob/master/doc/doc.pdf

[2015-08-24 06:29] ghost commented on #195
Sorry I missed this somehow.

Implementing Neel's stuff in JonPRL would be pretty amazing :) I'd definitely be interested in that. I need to read the paper again though. As I recall, there was also supposed to be some overlap with the categorical stuff I linked you to awhile back and when I was messing with the Grothendieck stuff…

[2015-08-24 06:54] thsutton commented on #214
"admits the postsupposition \Psi' ctx" auto to have two primes, no? (In the para beginning "The context concatenation judgment")

[2015-08-24 07:00] vrahli commented on #213
I'll take a shot at that.  I think it's better to define quotient types in
terms of PER types.
When we defined quotient types in terms PER types in Nuprl a few month ago,
we got
rid of several complicated rules, while the rules for PER types are really
easy.
Once we define the right tactics to work with quotient types, it will be
relatively easy to
reason about quotients.  In essence, T//E is defi

[2015-08-24 07:18] ghost commented on #214
@jonsterling FWIW, there may be some overlap here with some of the stuff I've been working on lately with explicit substitutions and abstract machines and that multicategory tech in general.

I started implementing a sequent calculus style abstract machine [here](https://github.com/freebroccolo/sequent-calculus/blob/master/src/Calculus.agda) to generalize the Krivine machine thing I had with a bet

[2015-08-24 11:20] jozefg commented on #214
@jonsterling OK, this looks like a much cleaner way to handle things! So we could handle the implementation in three passes
1. `computeChart` doesn't compute this chart thing anymore, instead we replace it with something that walks the pattern and supplied term and checks that we actually have a valid pattern and simultaneously constructs the substitution. We could do this in two passes where one

[2015-08-24 13:17] jozefg commented on #214
Small addendum, we actually need to merge 2/3 into one step, otherwise we get the arity failures we were avoiding before. That's as it was before though. I'm just learning how linear second order unification works now :)

Edit: I'm reading that linear second order unification requires that lambda abstractions (as well as free variables) occur linearly which is a little different than your doc, am

[2015-08-24 14:13] jonsterling commented on #213
@vrahli Great, sounds good!

By the way, one thing that I was curious about regarding Nuprl's `pertype` operator was, is there a reason that it takes a lambda instead of binding two variables?

[2015-08-24 15:06] jonsterling commented on #214
@thsutton Yes, you are quite right! Thanks for catching that!

[2015-08-24 15:11] jonsterling commented on #214
@jozefg Yes, that is probably the case. I think that, at least in the pattern fragment, this is not really a big problem—since at least in our use-case, none of our patterns will actually have abstractions (they'll only have pattern variables). But I need to read up in linear 2nd order unification; I had found some Pientka & Pfenning paper on it early... What are you reading?

[2015-08-24 15:13] jonsterling commented on #195
@freebroccolo Yeah, this would be super cool... I need to do a prototype or something; it's pretty clear to me how to type-check a linear lambda calculus, but writing a refiner for one may be a bit different from what I'm used to.

[2015-08-24 16:11] jonsterling commented on #214
@freebroccolo Very neat... I'm very interested in this line of development.

[2015-08-24 19:10] jozefg commented on #214
@jonsterling I was reading Levy's (original?) paper on it but I'm going to look at the Pfenning and Pientka paper. Twelf and Beluga must do something clever about this after all..

This [paper](http://www.cs.cmu.edu/~fp/papers/INRIA-RR-3591.pdf) seems like just what we want (modulo weird stuff about lambda sigma), the core constraints are close to what we want I think.

[2015-08-25 03:30] jonsterling opened #215 "higher-order judgments"
I have discovered a way to treat rules like `ProdIntro` such that they support refinement proof (i.e. they don't need to take a witness as a parameter), without using metavariables.

The solution is to introduce a superstructure of higher-order judgments, including existential quantification at the level of judgments `x::J :> J'[x]`, as well as the conjunction of vectors of judgments `&[J1, J2, ..

[2015-08-26 03:32] jonsterling opened #216 ""late binding" for resource tactic"
If `resource R` is used inside a defined tactic, it appears to use whatever is in the resource at the time of the tactic's definition, rather than at the time of the tactic's use.

[2015-08-26 17:25] #216 closed

[2015-08-27 11:26] jozefg opened #218 "Make JonPRL SML '97 Compatible"
Making JonPRL fully compliant with '97 has a few nice benefits. We never have to worry about NJ not adapting to a new platform, we can get faster binaries with mlton, we can properly support 64bit (doesn't NJ still have weird issues with it) etc, etc.

As far as making this happen, I can think of three big things off the top of my head

 - [ ] Make all the satellite projects SML '97 compatible. A

[2015-08-27 13:17] jonsterling commented on #218
I think this is worth the pain.

[2015-08-27 13:18] jonsterling commented on #218
one other are of incompatibility may be with structure sharing (which may still occur in a few places?).

[2015-08-27 13:25] jozefg commented on #218
@jonsterling It looks like we're mostly doing `sharing type` except in one spot in sml-abt-unify, though it's easily fixed. Structure is a mess :/

[2015-08-27 14:19] jonsterling opened #219 "Are the Image rules sound? [Question]"
@vrahli I was recalling the way that these were originally formulated in MetaPRL, and I remembered that for `Img(A; f)`, they had a constraint that `f` not have any free variables. Details here: http://www.cin.ufpe.br/~wollic/wollic2006/nogin-kopylov-slides.pdf

Do you know why it is safe to omit this constraint in Nuprl and JonPRL?

[2015-08-27 14:22] jonsterling commented on #218
@jozefg Yeah... If they can fix one thing in Successor ML, I hope it's that.

[2015-08-27 16:18] vrahli commented on #219
We still have a constraint that f is in Base.
Therefore, if f has a free variable x : A, then for all a and b in A,
f[x\a] has to be computationally equivalent to f[x\b].

On Thu, Aug 27, 2015 at 4:19 PM, Jonathan Sterling <notifications@github.com

##

http://www.cs.cornell.edu/~rahli/

[2015-08-27 16:32] jonsterling commented on #219
@vrahli Ah, perfect, thank you! What a much more elegant way of doing it.

[2015-08-27 16:32] #219 closed

[2015-08-27 16:38] jonsterling commented on #218
So, I think the thing to do is first to make sure all dependencies of JonPRL are compliant; then, we should start making the required changes in JonPRL in earnest.

[2015-08-27 17:16] ghost commented on #218
Regarding MLton, I think there are going to be some problems with unicode, though maybe that's not as big of an issue anymore. But strings in the source will have to be escaped and I think there are some other problems with manipulating the strings even if they are escaped but I don't remember the details.

[2015-08-27 17:27] jonsterling commented on #218
@freebroccolo Oh right, I'd forgotten about that... :(

[2015-08-28 00:32] jonsterling opened #220 "improvements to container theory"
- [x] introduce the extension of a container; then, `s ^ r. E[r]` notation should be used for an inhabitant of the extension of the container at a type, and W should have a `sup` constructor that takes one of these.

- [x] add a primitive container operator `C\natural` which takes a container to the container of its neighborhoods (see http://www.jonmsterling.com/posts/2015-07-05-spreads-fans-and-b

[2015-08-29 18:55] #220 closed

[2015-08-29 20:13] jonsterling opened #222 "Canonical-forms tests"
I'd like to add canonical-forms tests like Nuprl has... But rather than adding one for each canonical operator, it would be cool to do it all at once, as in `match-operator{θ}(M; L; R)`, where the parameter `θ` is a canonical operator. This expression only has a value in case `θ` is known to be a canonical operator.

The operational semantics would be:

[code]

[2015-09-03 11:23] vrahli opened #226 "Importing libraries"
It would be great if there was a way to import other files from a .jonprl file.

[2015-09-03 13:40] jonsterling commented on #226
This is done using `.cfg` files (like in Twelf). So, rather than importing a file from within a file, instead you simply place the two files in the same development "configuration", as follows:

sources.cfg:

[code]

Then, if you run `jonprl sources.cfg`, the entire development will be checked. An example of this in action is located in `examples/foundations/sources.cfg`. If you update to the late

[2015-09-03 23:16] vrahli commented on #226
Great!  I looks like "/"s are not allowed in cfg files.  I don't seem to be
able
to import foundations/prelude.jonprl from the example directory.

On Thu, Sep 3, 2015 at 3:40 PM, Jonathan Sterling notifications@github.com
wrote:

##

http://www.cs.cornell.edu/~rahli/

[2015-09-03 23:18] jonsterling opened #229 "Configuration files don't support "/""
Probably just a parsing bug :)

[2015-09-03 23:18] jonsterling commented on #226
Ok; I've opened #229, and will fix it ASAP.

[2015-09-03 23:37] jozefg commented on #229
Ah, I've found the issue, `OS.Path.join` raises an exception if the file supplied isn't a legal file name. So we can't say `join {dir = ..., file = "foo/bar"}`. Not the best behaviour but oh well.

[2015-09-03 23:58] #229 closed

[2015-09-04 03:12] jonsterling commented on #226
@vrahli When you get a chance, can you see if the latest version fixes this problem?

[2015-09-08 12:02] vrahli commented on #226
Works fine now.

[2015-09-08 12:06] vrahli commented on #213
No, there was no good reason for pertype to have signature [0] instead of [2].

[2015-09-08 12:20] vrahli commented on #213
Also, as you mentioned T//True would be per(\x.\y.x in T /\ y in T).
per(_._.T) gives us a different PER which would correspond to
isect(T;_.Top)?

[2015-09-08 14:42] jonsterling commented on #213
@vrahli With regard to the signature of the `per` operator, my preference would be `(2)` instead of `(0)`; but if you feel it is important to keep parity with Nuprl, feel free to leave it.

With regard to `per(_._.T)` corresponding `isect(T; _.Top)`, that makes sense. thanks for the clarification!

[2015-09-08 14:46] jonsterling opened #231 "Document containers, trees, extensions, neighborhoods, etc."

[2015-09-08 16:45] jonsterling opened #232 "Begin tagging versions / releases"
I heard from @puffnfresh on Twitter that he's got a Nix expression for JonPRL, and it sounds like it would be helpful for us to start tagging release versions (like `0.1` etc.).

[2015-09-08 21:20] jozefg opened #233 "DecideEq is broken"
Currently DecideEq takes a term `C` which is supposed to be of the form `x.Foo` which gives the type of the branches of a `decide` expression. There should be a subgoal asserting that `C` is equivalent to what the type of the decide expression is supposed to be.

This makes JonPRL inconsistent with

[code]

[2015-09-08 21:43] jonsterling commented on #233
Uh-oh! Alternatively, we could simplify a number of proofs by just doing the following:

[code]

[2015-09-08 21:43] jonsterling commented on #233
In all seriousness though—I'll fix this tonight if it has not yet been fixed by then. Thank you very much for reporting it!

[2015-09-09 00:18] #226 closed

[2015-09-09 00:21] jonsterling commented on #232
I have tagged JonPRL at `v0.1.0`; I don't have any opinions about versioning schemes, but "semver" seems pretty standard, so unless there are any objections or preferred alternatives, I think we'll see how that works out.

[2015-09-09 00:21] #232 closed

[2015-09-09 12:30] #233 closed

[2015-09-11 15:53] jozefg commented on #186
This is fixed with the new parcom version

[2015-09-11 15:53] #186 closed

[2015-09-15 20:48] vrahli commented on #213
Actually the PERs of per(_._.T) and isect(T;_.Top) wouldn't be the same.
A more boring type that would have the same PER as per(\_._.T) would be
Top//T I think.
Regarding the signature of per, I'll change that.

[2015-09-18 06:20] #213 closed

[2015-09-18 19:07] jonsterling opened #237 "Standard eq-eq rule is not invertible"
It is possible to get to a "point of no return" when automatically applying the equality-equality rule, now that we have relaxed the presuppositions of equality types in the Nuprl style. Therefore, I suppose that the rule which requires well-typedness of the components should not be run by `auto 0`, which we have intended to only apply invertible rules.

@jozefg any thoughts?

[2015-09-18 23:37] jozefg commented on #237
@jonsterling Oh yeah that's a good point. And we probably don't want to apply the `eq-eq-base` rule automatically since it can lead to annoying-to-prove well formedness goals.. I can fix this later tonight :)

[2015-09-18 23:46] peterohanley opened #238 "`auto` tactic can crash"
See here (modification of the nats.jonprl example)
https://gist.github.com/peterohanley/98f1cceeab44d774e5b4

It crashes while trying to solve a member(____,U{i}) result with message "subscript out of bounds".

[2015-09-18 23:47] jonsterling commented on #238
This is very helpful, thank you! I will try and track this down tonight.

[2015-09-18 23:57] jonsterling opened #239 "Better error messages"
The error messages are very uninformative; some of them do not even have source locations. See #238

[2015-09-18 23:58] jonsterling commented on #238
OK, so I just played around with it, and here's what happened.

The auto tactic discharged more goals than you expected it to, and so when it got to `focus 1 #{...}`, there was no `1st` goal to focus (the indexes start at `0`); that's where the error occurred. We need to invest time into providing really good error messages, since the error message that JonPRL emitted made it look like a bug, and

[2015-09-18 23:58] #238 closed

[2015-09-18 23:58] jonsterling commented on #238
BTW, to fix your proof, just remove the `focus 1 #{...}` part, which was discharged entirely by `auto`.

[2015-09-21 01:30] #237 closed

[2015-09-22 17:05] jonsterling opened #241 "switch per operator signature to (2)"

[2015-09-29 14:10] vrahli commented on #241
I'll do that today

[2015-09-29 14:10] jonsterling commented on #241
@vrahli Awesome, thanks!!

[2015-09-29 14:27] jonsterling opened #242 "Consider switching to typed ABTs"
My new typed/sorted [ABT library](https://github.com/jonsterling/sml-typed-abts) might be an interesting way to make JonPRL's syntax a bit better. There are two differences:

1. Rather than having a single "sort" (`exp` essentially), we can introduce any number of sorts. This lets us, for instance, have numerals in a different syntactic category than JonPRL. Nuprl deals with this by using paramete

[2015-09-29 18:22] jozefg commented on #242
I think this would be pretty nice! More types certainly won't hurt us. I've be planning on going on a documentation spree of the new typed-abt library to get my bearings for how it works, when I do that I'm happy to port sml-abt-unify. What other satellite libraries will need to be ported?

[2015-09-29 18:26] jozefg opened #243 "Respect for Functionality"
So this is a fun one. JonPRL's core sequence judgment is supposed to have a functionality requirement, essentially demanding that if `H, x : A >> B(x)` holds, then `H >> B(a) = B(a')` if `H >> a = a' : A`. Now if this isn't required all sorts of fun things can happen and currently it isn't.

The biggest offender that I'm aware of is `creflexivity`. It allows us to conclude that two variables are `

[2015-09-29 20:06] vrahli commented on #243
The problem is not creflexivity: x ~ x is true in any context because
squiggle (and
approximation) types are extensional.  However, in a context where x : A ->
B,
you shouldn't be able to derive in general that x = x in Base (x ~ x is
true though
in that context).  One rule which is not true in Nuprl is H |- x ~ x => H
|- x = x in Base.
Clearly, x : Top |- x ~ x is true but x : Top |- x = x in Bas

[2015-09-29 21:26] vrahli commented on #243
So basically MemberEq in refiner/rules/base.fun is not a valid rule.

On Tue, Sep 29, 2015 at 10:06 PM, vincent rahli vincent.rahli@gmail.com
wrote:

##

http://www.cs.cornell.edu/~rahli/

[2015-09-29 23:53] jonsterling commented on #242
@jozefg awesome! Aside from unification, there's the parsing & unparsing stuff.

[2015-09-30 00:07] jonsterling commented on #242
By the way, it may make lessen some of the library churn burden if we start developing related libraries in a single repository (but still as separate libs). So, we'd have `abt-unify` and `abt-unparse` and `abt-parse` in the same repo, and they'd always be kept in sync. I can't think of any real benefits of letting them get out of sync...

How do you feel about this?

[2015-09-30 04:26] ghost commented on #242
I think this would be pretty nice to have although I'm not entirely sure I understand yet how the interface between the syntactic sorts and types in CTT should work. But I guess if you can just replicate the existing functionality with the new library maybe you can work out some of those details later or maybe just experiment with different approaches or something.

[2015-09-30 04:49] jonsterling commented on #242
@freebroccolo--at this point, the terms of ctt would all be of a single sort (exp, or whatever); they might have subterms which are of a different sort, however. an example is that we might have a sort for level expressions, etc.

the behavioral types should be seen as refinements of exp though.

having a rich term language would, by the way, would let us assign a sort to tactic scripts, and then

[2015-09-30 14:47] jonsterling commented on #243
If nobody gets to it by the time I have time to do it, I'm going to replace `Base.MemberEq` with a rule (of variadic arity) that, for each premise in context, requires that it be a subtype of Base.

We'll then also probably want to add rules (whether primitive or derived) that express subtyping of Base for the common core types. @vrahli Does that sound all right?

(I am traveling for work this wee

[2015-09-30 15:03] vrahli commented on #243
I've just finished proving rule_equal_in_base in
https://github.com/vrahli/NuprlInCoq/blob/master/rules/rules_squiggle5.v.
I'll work on adding this rule to JonPRL.
My guess is that we only need two other rules:
  H x : Atom J |- x : Base
and a similar one for Int.

On Wed, Sep 30, 2015 at 4:47 PM, Jonathan Sterling <notifications@github.com

##

http://www.cs.cornell.edu/~rahli/

[2015-09-30 15:08] jonsterling commented on #243
Ok, that sounds good! Just to reference it in this thread so that folks don't have to click through, the rule that will be added is:

[code]

We can add the following to the derivation calculus, I think:

[code]

[2015-09-30 15:17] vrahli commented on #243
Sorry, there was a mistake in my comment, the rule is actually

   H |- a = b in Base
     By EqualInBase
     H |- a ~ b
     forall v in (free_vars a), H |- v in Base

i.e., we don't need to generate subgoals for the free variables of b.

The idea is that if you have to prove a = b in Base and you can prove

a ~ b, then first rewrite b into a in a = b in Base.  You now have to

prove a = a in Ba

[2015-09-30 15:19] jonsterling commented on #243
@vrahli Thanks for the clarification; definitely makes sense that we wouldn't have to prove it for `FV(b)`! This is the one, then:

[code]

[2015-10-06 20:59] #241 closed

[2015-10-06 20:59] #243 closed

[2015-10-16 05:19] jonsterling commented on #215
I'm closing this ticket, since I believe that whilst neat, in practice, this version of things will never be as useful as a refiner that has a built-in treatment of existential variables. I'll open a  new proposal to that effect.

[2015-10-16 05:19] #215 closed

[2015-10-16 05:24] jonsterling opened #245 "consider changing tactic type to support metavariables"
I have a cute little (untested) implementation of a refiner w/ metavariables here: https://github.com/jonsterling/sml-refiner/blob/master/metavariables.sml

Basically, the idea is that a tactic takes an (open) judgment to a pair of a substitution and an open extract term (synthesizing a telescope of subgoals). The use of telescopes and contexts instead of the standard functional version that stems

[2015-10-16 17:45] jonsterling commented on #245
I thought about this a bit more last night and this morning, and realized that my idea wasn't quite right. But in the process, I arrived at a simplification that I've been hoping for a long time now, which is a middle ground between plain LCF and Coq w/ metavariables.

Basically, the only difference is that the list of subgoals is replaced by a telescope of subgoals, and the partial syntheses of s

[2015-10-17 18:45] jonsterling commented on #245
Here's an example of a refinement rule for Sigma, by the way: https://github.com/jonsterling/sml-dependent-lcf/blob/master/example.sml#L66

Incidentally, I've realized it's not the case that this would require us to switch our sequents to be represented by ABTs, since in fact, we only need a substitution operation (which we can easily provide). The only thing we need that's not implemented in the

[2015-11-16 14:23] vrahli commented on #183
I still think it would be great to add definitions to the computation system.
Right now GeneralRules.Unfolds does not come with any justification, while
if unfolding abstractions was part of the computation system, it would
be justified by the CEqRules.Step rule.
What do you guys think?

[2015-11-16 16:32] jonsterling commented on #183
@vrahli I've been thinking about this in the last few months and I've come around to thinking that we really shouldn't differentiate delta equalities from computational equalities in the way we do. So I think I agree with you!

I'm sorry that development has slowed for the past month or two; I've been working on grad school applications, as well as three papers that need to be written in order to

[2015-11-18 18:19] jonsterling commented on #183
Here's a proposal for the new operational semantics design.

[code]

Then, users can compute terms, selecting beforehand a set of rule types that they want to apply (as in Coq). This design will also let us compute terms properly at the top-level with `Eval`, which currently isn't able to unfold definitions.

One kind of interesting thing is that this approach could pave the way for allowing users

[2015-11-23 12:17] vrahli commented on #183
That sounds good.  Did you already start implementing this?

On Wed, Nov 18, 2015 at 7:19 PM, Jonathan Sterling <notifications@github.com

##

http://www.cs.cornell.edu/~rahli/

[2015-11-23 15:41] jonsterling commented on #183
@vrahli I haven't started implementing it; I'll be able to resume developing JonPRL after I've finished applying to grad school (mid-December).

If anyone wants to take this on in the meanwhile, they're welcome though!

[2015-11-23 15:42] jozefg commented on #183
I think I can implement this one. I'm on break for a few days and have a little spare time.

[2015-11-23 18:14] jonsterling commented on #183
@jozefg Great!!

One possible complication which I forgot about is the fact that you will have to take into account universe levels when doing this. In fact, I have not thought about this too carefully, but it may either scuttle the project or at least make it more difficult...

Really, the way that we are doing level polymorphism is easy to implement, but not ideal, since it means that "simple" r

[2015-12-01 23:18] jozefg commented on #183
So I've been thinking about how to implement this. The basic improvement would be to unfold operators defined with `=def=`, that's pretty straightforward. The bigger issue is the universe question. With `unfold` we require the user to provide a universe explicitly if they want something other than the current one. This seems fine because tactics need to rely on user help as well. It seems very wro

[2015-12-01 23:23] jonsterling commented on #183
@jozefg I think the "proper" way to do it is just follow Nuprl and let abstractions have a universe parameter.

EDIT: But the above could get really frustrating to use without display forms.

[2015-12-01 23:26] jozefg commented on #183
@jonsterling I don't know so much about Nuprl-the-proof-assistant, is it worth trying to do this on our end? The alternative is just to make delta rules introduced by theorems second class compared to Operators.

[2015-12-01 23:31] jonsterling commented on #183
@jozefg

Well, what we have currently was sort of a "cheapest possible approach" so I wouldn't have to think about parameters, and so that the concrete syntax would have as little noise as possible. I think that it would be worthwhile to support declaring operators like

[code]

or something. In the longer term, we'd want to support this behavior generically for many different kinds of parameters,

[2015-12-01 23:41] jozefg commented on #183
I'm excited to start working on Red JonRPL (ps why red?).

I was originally thinking that while when you write `Theorem foo : [...] {...}.` you create a new operator `foo`. I originally thought that it would be more challenging to handle those operators because they'd be the ones potentially with a universe parameter hidden inside them. This wasn't quite right: universes might appear in definition

[2015-12-01 23:43] jonsterling commented on #183
@jozefg Red JonPRL is "revolutionary".

Yes, exactly :) All operators are equally problematic :wink:. We could generate a parameterized operator in this case for the extract of each theorem.

[2015-12-01 23:45] jozefg commented on #183
@jonsterling  Hah, nice :)

[2015-12-02 15:26] vrahli commented on #183
It would be great if indeed operators were parametrized by levels as Jon
suggested.  This is how it works in Nuprl.
The only somehow tricky thing then is to get second order substitution right
(see the definitions of sosub_aux and sosub in
https://github.com/vrahli/NuprlInCoq/blob/master/terms/sovar.v
for example).

On Wed, Dec 2, 2015 at 12:45 AM, Danny Gratzer notifications@github.com
wrote:

##

[2015-12-02 15:33] jonsterling commented on #183
As for second order substitution and metavariables, the new syntactic framework will have a proper treatment of this, which I took from Fiore's second order algebraic theories. When I get to my computer, I'll paste in a link to the rules for the new syntactic framework.

Is there any wrinkle in the interaction of second order substitutions and level parameters? My thinking/hope is that they should

[2015-12-02 15:36] jonsterling commented on #183
Here, section 3 of [Syntax and Semantics of Abstract Binding Trees](https://github.com/jonsterling/syntax-and-semantics-of-abts/blob/sheaves/paper.pdf) contains the rules for metavariables; in particular section 3.5 contains the algorithm for second order substitution. Do these look OK?

[2015-12-07 06:56] jonsterling commented on #214
Fwiw, I've got _proper_ support for metavariables (what Nuprl calls "second-order variables") in the new ABT library as of tonight.

I have a feeling that this may let us simplify the problem here. In a rewrite rule, all the "variables" should be metavariables (not just the "second order" ones). Then, we might have the user assert a judgment like `Θ :> ϑ(m1; ... mn) ---> ϑ'(E1; ... ; En)`, where `

[2015-12-09 00:12] jonsterling commented on #214
@jozefg BTW, the other night I wrote up a little prototype lib for this, which I'll push this evening. I haven't tried running it yet, but I'm optimistic that it should work, given that the code is 100% non-gnarly.

The library is general enough, btw, that it will let us even express non-uniform rewrite rules, like the following:

[code]

[2015-12-09 00:51] jonsterling commented on #214
Here's the library: https://github.com/jonsterling/sml-abt-patterns

[2015-12-09 04:15] jozefg commented on #214
Nice! It would be good to have a simple and compelling story when it comes to patterns. Do you think it's worth trying to fold this into current jonprl or hold off until "The Big Overhaul" when we fix all of these things?

I really need to try to go throw and document all of this typed-abt stuff, still not quite sure I get how all the code fits together.

[2015-12-09 04:19] jonsterling commented on #214
@jozefg  I wish we could fold it in immediately, but we'd need to introduce support for the new ABT lib immediately (because of metavariables).

It might be worthwhile to actually implement Red JonPRL in 3-4 passes rather than all at once (I worry about following in the footsteps of Epigram, where they seem to have bit off far too much at once). The first pass could be to get the new ABT framework

[2015-12-09 04:24] jozefg commented on #214
That's fair, especially since once the actual ABT framework is in place we can in theory make some of these changes concurrently but actually making the swap will have to be mostly atomic. I know you're pretty busy but do you have an idea for when you'd like to do this?

As far as dead code goes, that's definitely fair. One of the things that might be pretty trick to port as well is the `match` ta

[2015-12-09 04:31] jonsterling commented on #214
- I'm busy until December 15 (grad school applications); I hope that I'll be able to resume devoting my free time to this shortly after that; I'll also be taking some vacation later this month as well.
- Ahh, yeah, the `match` tactic may be a bit tricky. I'd like to recover the entire tactic system from within the ABT framework, but I haven't thought too carefully about how that will work. In the

[2016-01-09 20:19] markfarrell opened #247 "Try JonPRL"
It would be nice to be able to try out JonPRL in the web browser, e.g. like [Try PureScript](http://try.purescript.org/).

[2016-01-09 20:25] jonsterling commented on #247
That would be so cool! I believe that MLKit has this "SML to JS" thing that we could use. However, currently JonPRL is only compatible with SML/NJ, but [Red JonPRL](https://github.com/JonPRL/sml-red-jonprl/) will be fully Definition-compliant, and so we should be able to build it with MLKit.

Another option that would be possible today, I suppose, is to just throw a JonPRL executable onto a server

[2016-01-09 20:27] markfarrell opened #248 "Types are ∞-groupoids"
I would imagine it might be a good exercise to try to add to the work done in `examples/category-theory/category.jonprl` and `examples/identity-types.jonprl` to show that "types are ∞-groupoids", like in the higher type theory literature.

[2016-01-09 20:31] jonsterling commented on #248
If you can come up with a suitable definition of `inf-groupoids`, then you could probably prove this—but it is valid in only the trivial sense, since JonPRL types currently have no higher-dimensional structure.

[2016-01-09 20:36] jozefg commented on #248
(to elaborate, all equality witnesses are provably equal to <> so everything just collapses to `<> \in =(<>; <> ...)`)

[2016-01-09 20:58] markfarrell opened #249 "Internally prove whether or not "axiom K" can be derived?"
As another exercise, I wonder if it can be proved/disproved whether "[axiom K](https://ncatlab.org/nlab/show/axiom+K)" can/cannot be derived in JonPRL, following the work in `examples/identity-types.jonprl`. If "axiom K" can be derived as a theorem, wouldn't that limit what can be developed in terms of higher type theory inside of JonPRL?

[2016-01-09 21:04] jozefg commented on #249
It can: higher type theory is not exactly an option yet for CTT (active area of research though). In JonPRL we just have UIP as a rule so K is a pretty easy consequence to get. Remember that CTT has the policy that the standard PER model that the meaning explanation gives rise to _is the type theory_. This means that groupoids were never really intended nor can they be an interesting model of this

[2016-01-31 14:09] markfarrell commented on #247
Yeah, as for a web-based interface: do you think it would be possible / a good idea to have a notebook-style interface where e.g. theorems would be the inputs to cells and program extracts would be outputs?

[2016-01-31 16:00] jonsterling commented on #247
@markfarrell I love that idea... Maybe it would be possible to integrate with that IPython Notebook thing or something?

[2016-01-31 16:06] jozefg commented on #247
(Chiming in here) This sounds really slick! As a (distant) project I also don't see any significant technical challenges in translating JonPRL's realizers into just plain old javascript.. Could be an interesting follow up if this project works out

[2016-02-06 19:05] jonsterling opened #250 "Add universe hierarchy"

[2016-02-06 19:16] jonsterling commented on #250
Wrong repository, sorry

[2016-02-06 19:16] #250 closed

[2016-02-07 14:58] markfarrell commented on #249
Ah ok, thanks.

[2016-02-07 14:58] #249 closed

[2016-02-07 14:59] #248 closed

[2016-02-17 15:39] markfarrell opened #251 "Formalization of Cubical Type Theory"
A project idea: replicate Mark Bickford's formalization of cubical theory in JonPRL.
See: http://www.nuprl.org/wip/Mathematics/cubical!type!theory/index.html

Thoughts?

[2016-02-17 16:02] jonsterling commented on #251
I've been hoping we could do something along those lines as well...

After trying to do a category theory development in Classic JonPRL, I found our treatment of universes very frustrating—and the lack of records is a big problem (Mark uses Sigma types in the Nuprl development, which makes things fairly gnarly too).

I hope that we can try again in Red JonPRL and have a better time of it.

[2016-02-17 16:02] jonsterling commented on #251
(Since our treatment of universes is corrected now, and I am thinking that it may be possible to give a nicer treatment to records than is possible in Nuprl or Classic JonPRL).

[2016-03-06 18:41] markfarrell commented on #247
In addition to that thought, is there any way to make a (web-based) editor for JonPRL that, when trying to prove a theorem, would bring up suggestions for tactics and lemmas I could be allowed to use to achieve a goal?

[2016-03-06 19:17] markfarrell opened #252 "A Module System?"
Would it be possible, and be desirable, to have a more sophisticated module system for JonPRL?

[2019-10-28 02:11] arthuraa opened #254 "Broken links"
The following links in the landing page seem to be broken:

- http://www.jonmsterling.com/pdfs/meaning-explanations.pdf (in the first paragraph of the `README.md` file).

- http://jonprl.org (in the project description).

[2019-10-28 04:51] jonsterling commented on #254
Thank you for noticing!

This project is unmaintained, but remains available for historical and educational reasons. I would prefer not to update the readme etc., even though I realize the links are broken.

[2019-10-28 04:51] #254 closed

[2019-10-28 13:11] arthuraa commented on #254
Got it! Just in case you wanted to fix them ;)